* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    user-select: none ;
    }

html {
    font-size: 12px;
    }

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: rgb(204,204,204); 
    }

.page {
    height: 1123px;
    width: 794px;
    margin: 3.5em auto; 
    border: 1px #D3D3D3 solid;
    border-radius: 5px; 
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    }

.content {
    display:grid; 
    grid-template:auto/65px 50px 50Px 150px 125px 125px 125px; 
    padding : 1em 0 ;
    align-content: start;
    justify-content: center;  
    position: relative;
    }

.content .row-head {
    display:contents;
    font-weight: bold;
    color: #69707a;
    }

.content .row-head * { 
    font-weight:bold; 
    border-bottom:1px solid black; 
    font-weight: bold;
    color: #69707a;
    } 

.content .row {
    display:contents;
    }

.content .row * { 
    border-bottom: 1px solid rgba(143, 140, 140, 0.24);
    }  

.content .row-footer {
    display:contents;
    }

.content .row-footer * { 
    border-bottom: 1px solid rgba(143, 140, 140, 0.24);
    }   


